* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
      -moz-box-sizing: 0;
          box-sizing: 0;
}

.board-grid {
  margin: auto;
  margin-top: 50px;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
}

.tile {
  border: 1px solid black;
}

.ship {
  background: green;

  &--hit {
  background: orange;
  }

  &--destroyed {
  background: red;
  }
}



